<mat-card>
    <mat-form-field>
        <input
            [(ngModel)]="title"
            matInput
            type="text"
            placeholder="Titulo"
            name="title" />
    </mat-form-field>
    <mat-form-field>
        <input
            [(ngModel)]="author"
            matInput
            type="text"
            placeholder="Autor"
            name="author" />
    </mat-form-field>
    <mat-form-field>
        <input
            [(ngModel)]="pagesNumber"
            matInput
            type="number"
            placeholder="Número de Páginas"
            name="pagesNumber" />
    </mat-form-field>
    <button
        mat-raised-button
        type="submit"
        color="primary"
        value="Cadastrar"
        (click)="onRegisterBook()">
        Cadastrar
    </button>
</mat-card>
